div.problems {
	float: left;
	width: 500px;
	margin-right: 10px;
	max-height:600px;
	overflow-y: scroll;
}

form {
	margin: 5px;
	padding: 5px; 
	width: 90%;
	border: 1px solid black;
}

form input[type="submit"]{
	float: right;
}

#solution {
	float: left;
	width: 400px;
	padding: 10px;
	margin: 10px;
}